{% extends 'polls/base.html' %}
{% block content %}
{% load static %}
<div class="row h-100 mt-4">
    <div class="col-4">
        <button class="btn btn-success btn-lg" onclick="ajaxSend()">AJAX TEST</button>
    </div>
    <div class="col-8">
        <textarea id="ajax_result" class="form-control"></textarea>
    </div>
</div>

<script>
    function ajaxSend(){
        document.body.classList.add("bg-warning");
        fetch('ajax-request')
            .then(response => {
                console.log(response)
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                document.body.classList.remove("bg-warning");
                document.body.classList.add("bg-success");
                return response.text()
            })
            .then(data => {
                document.getElementById("ajax_result").innerText = data
            })
            .catch(error => console.log('Error:', error));
    }
</script>
{% endblock %}